<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生基本信息</title>
    <link href="../../css/common/HomePage.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
               <a href="StudentCourseHome.html"><span><img src="../../img/home.png">首页</span></a>
                <a href="#"><span><img src="../../img/help.png">帮助</span></a>
                <a href="../common/AccountLoginPage.html"><span><img src="../../img/exit.png">退出</span></a>
            </div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
            <div class="navigation">
                <div class="title">导航</div>
                <div class="line"></div>
                 <div class="courseIntroduction"><a class="guidefont" href="#">基本信息</a>
                  <a class="guidefont" href="student/courseHome">课程信息</a>
                  <a class="guidefont" href="student/chooseCourse">选择课程</a>
                </div>
            </div>
            <div class="content">
            
               <div class="title">基本信息</div>
               <div class="line"></div>
                <div class="imgarea"><img class="img" src="../../Img/link.jpg"/></div>
                
                 <div class="info">
        <table class="table">
        <tr class="itemName">
        <td >用户名：<span>12345678978</span></td>
        <td>学号：<span>12345678978</span></td>
        </tr>
        <tr class="itemName">
        <td>姓名：<span>12345678978</span></td>
        <td>性别：<span>12345678978</span></td>
        </tr>
        <tr class="itemName">
        <td>学校：<span>12345678978</span></td>
        <td>学历：<span>12345678978</span></td>
        </tr>
        <tr class="itemName">
        <td>E-mail：<span>12345678978</span></td>
        <td>联系方式：<span>12345678978</span></td>
        </tr>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="button">
        <a href="student/infoModify"><button>修改</button></a>
        </div>
        </div>
            </div>
            
           
            <div class="clear"></div>
        </div>
</body>
</html>